<ng-container>
  <mat-toolbar>
    <span>My Application</span>
  </mat-toolbar>
  <mat-toolbar-row>
    <span>First Name, Last Name, Email, Phone</span>
  </mat-toolbar-row>
  <div>
    <mat-expansion-panel
      *ngFor="let user of users"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> {{user?.firstName}}, {{user?.lastName}}, {{user?.email}}, {{user?.phone}} </mat-panel-title>
        <mat-panel-description>
          <!-- Currently I am {{ panelOpenState ? "open" : "closed" }} -->
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div>
      <p> User Name : {{user?.username}}</p>
      <p> First Name : {{user?.firstName}}</p>
      <p> Last Name : {{user?.lastName}}</p>
      <p> Email : {{user?.email}}</p>
      <p> Phone : {{user?.phone}}</p>
      <p> Age : {{user?.age}}</p>
      <p> Gender : {{user?.gender}}</p>
    </div>
      <button mat-raised-button color="primary" [disabled]="loading" (click)="performUpdate()">
        <span *ngIf="!loading">Save</span>
        <mat-spinner *ngIf="loading" diameter="20"></mat-spinner>
      </button>
      <button mat-raised-button [disabled]="loading">Cancel</button>
      <!-- <button (click)="editUser(user)">Edit</button>
      <app-edit-user-component [user]="selectedUser" (saveChangesEvent)="saveChanges($event)"></app-edit-user-component> -->
    </mat-expansion-panel>
  </div>
</ng-container>
